{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<h1>Actividades no fijas</h1>
{% comment %} links petición horarios  {% endcomment %}
<div class="contenedor_links_horario">
    
    <div class="contenedor_link_suenio">
        <a href="{% url 'suenio' %}">1</a>
    </div>

    <div class="contenedor_link_actividades_fijas">
        <a href="{% url 'actividades_fijas' %}">2</a>
    </div>
    
    <div class="contenedor_link_actividades_no_fijas">
        <a href="{% url 'actividades_no_fijas' %}">3</a>
    </div>

</div>

{% comment %} Formulario actividades fijas  {% endcomment %}
<form action="" method="POST">

    {% csrf_token %}
    <label for="name">Nombre de la actividad</label>
    <input type="text" name="name" id="name" required>

    <label for="priority">Prioridad (1 a 10)</label>
    <select name="priority" id="priority">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>

    <label for="horas_semanales">Horas semanales para realizar actividad</label>
    <input type="number" name="horas_semanales" id="horas_semanales" min="1" max="24" step="1" required>

    <label for="hora_mas_temprana">Hora más temprana para realizar actividad</label>
    <input type="number" name="hora_mas_temprana" id="hora_mas_temprana" min="1" max="24" step="1" required>

    <label for="hora_mas_tarde">Hora más tarde para realizar actividad</label>
    <input type="number" name="hora_mas_tarde" id="hora_mas_tarde" min="1" max="24" step="1" required>

    <label for="tiempo_maximo">Tiempo máximo en el que realizarías la actividad</label>
    <input type="number" name="tiempo_maximo" id="tiempo_maximo" min="1" max="24" step="1" required>


    <input type="submit" value="Enviar">


</form>



{% comment %} Se despliegan actividades creadas  {% endcomment %}

<div class="contenedor_actividades">
    {% if actividades_no_fijas %}
        <h1 class="titulo_tus_actividades">Tus actividades no fijas:</h1>
        {% for actividad in actividades_no_fijas %}
            <div class="caja_actividad">
                <p>{{actividad.name}}</p>
                <p>id: {{actividad.pk}}</p>
                <a href="{% url 'eliminar_actividades_no_fijas' ruta_actividad_no_fija=actividad.pk %}">❌</a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock  %}